magmi/.htaccess
magmi/.htpasswd

var/cache/
var/session/
var/log/
var/locks/
var/report/
media/catalog/product/cache/
media/catalog/product/img/
media/js/
media/css/
errors/local.xml
app/etc/local.xml
