#app/etc/local.xml

sitemap.xml

cgi-bin/

downloader/.cache/

errors/local.xml

magmi/.htaccess
magmi/.htpasswd
magmi/state/*

media/catalog/product/
#media/catalog/product/cache/
#media/catalog/product/img/
media/js/
media/css/

var/cache/
var/session/
var/log/
var/locks/
var/package/tmp/
var/report/
