<?xml version="1.0"?>
<config>
	<modules>
		<ACMElectronics_CatalogSearch>
			<version>0.1.0</version>
		</ACMElectronics_CatalogSearch>
	</modules>
	<frontend>
		<routers>
			<catalogsearch>
				<args>
					<modules>
						<ACMElectronics_CatalogSearch before="Mage_CatalogSearch">ACMElectronics_CatalogSearch</ACMElectronics_CatalogSearch>
					</modules>
				</args>
			</catalogsearch>
		</routers>
	</frontend>
	<global>
		<blocks>
			<catalogsearch>
				<rewrite>
					<result>ACMElectronics_CatalogSearch_Block_Result</result>
				</rewrite>
			</catalogsearch>
		</blocks>
	</global>
</config>